<a href="https://colab.research.google.com/github/Wesley1110/Data-Science/blob/main/yushan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
ccba_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_ccba_full_hashed.csv')
ccba_df = ccba_df.groupby('cust_id').mean().drop(columns=['byymm'])
ccba_df

,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
cust_id,,,,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,6298.153846,1.346140e+05,24214.846154,0.0,0.0,3148.692308,6728.076923,0.0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,363428.230769,3.127805e+05,69357.461538,0.0,0.0,24451.923077,376716.000000,0.0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,31074.230769,3.144210e+05,40891.615385,0.0,0.0,2384.769231,30166.769231,0.0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,88294.153846,2.028310e+05,196138.000000,0.0,0.0,909.769231,87726.538462,0.0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,1755.333333,2.023800e+04,2322.000000,0.0,0.0,0.000000,1755.333333,0.0
...,...,...,...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,154.615385,2.086830e+05,114.461538,0.0,0.0,0.000000,114.461538,0.0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,4187.846154,2.087650e+05,9552.615385,0.0,0.0,1792.230769,4068.538462,0.0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,4882.769231,2.032310e+05,6488.000000,0.0,0.0,1863.846154,4994.769231,0.0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,155063.846154,1.043907e+06,356287.769231,0.0,0.0,56455.461538,152153.615385,0.0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,9352.384615,4.609263e+05,15148.076923,0.0,0.0,487.769231,9748.923077,0.0

In [5]:
cdtx_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_cdtx0001_full_hashed.csv', index_col='cust_id')
#cdtx_df['cust_id'].value_counts()
cdtx_df.country
idx_freq_dict = {}
for idx in cdtx_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(cdtx_df.index.values.tolist()))
cust_id_result = []
country_result = []
cur_type_result = []
amt_result = []
freq_result = []
for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    country_result.append(cdtx_df.loc[idx]['country'].mode().iloc[0])
    cur_type_result.append(cdtx_df.loc[idx]['cur_type'].mode().iloc[0])
    amt_result.append(cdtx_df.loc[idx]['amt'].mean())
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    country_result.append(cdtx_df.loc[idx]['country'])
    cur_type_result.append(cdtx_df.loc[idx]['cur_type'])
    amt_result.append(cdtx_df.loc[idx]['amt'].mean())
    freq_result.append(idx_freq_dict[idx])

data = {'cust_id':cust_id_result,'country':country_result,'cur_type':cur_type_result,'amt':amt_result,'con_freq':freq_result}
cdtx_df = pd.DataFrame(data)

#cdtx_df.loc['4220624de6d38bd4b41d1c32932e03f3c0e85b1b08b7e399df191feb73d3a4c1']
#5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1
#print(cdtx_df.loc['4220624de6d38bd4b41d1c32932e03f3c0e85b1b08b7e399df191feb73d3a4c1']['country'].mode())
#print(len(cdtx_df.loc['5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1']))
#idx_freq_dict['5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1']

In [6]:
remit1_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_remit1_full_hashed.csv', index_col='cust_id')
remit1_df.drop(columns=['trans_date'])

idx_freq_dict = {}
for idx in remit1_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(remit1_df.index.values.tolist()))
cust_id_result = []
trans_no_result = []
trade_amount_usd_result = []
freq_result = []
for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    trans_no_result.append(remit1_df.loc[idx]['trans_no'].mode().iloc[0])
    trade_amount_usd_result.append(remit1_df.loc[idx]['trade_amount_usd'].mean())
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    trans_no_result.append(remit1_df.loc[idx]['trans_no'])
    trade_amount_usd_result.append(remit1_df.loc[idx]['trade_amount_usd'].mean())
    freq_result.append(idx_freq_dict[idx])

data = {'cust_id':cust_id_result,'trans_no':trans_no_result,'trade_amount_usd':trade_amount_usd_result,'remit_freq':freq_result}
remit1_df = pd.DataFrame(data)
remit1_df

,cust_id,trans_no,trade_amount_usd,remit_freq
0,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,0.0,73370.166667,6
1,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,3.0,8356.000000,1
2,0388c9d9ef39aad168e450e671382cfa405d61efd39517...,0.0,23693.416667,12
3,03d4cbfcb065501bebb2b75ea4df2b779df0192a183af3...,4.0,8682.772727,22
4,0658224f10ea4c5c8b4252f1bef32ee1071dc504bfc670...,0.0,115243.300000,10
...,...,...,...,...
1139,fee9c88690656f65f8829b3d3e6082b3b7b58ecbb56adb...,0.0,811.000000,3
1140,ff38c93051cf7c0175c67f5171271d4b8c8bb40533df65...,4.0,5721.666667,3
1141,ff4fa0c71df2a8a9074c1b8ad537e0f15c93ad16e1165e...,4.0,146637.000000,1
1142,ff6b0040005b54f4b7955942e74a0a9ec466abb2a017a5...,0.0,53062.704545,44
1143,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,0.0,77311.142857,7

In [ ]:
dp_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_dp_full_hashed.csv', index_col='cust_id')

idx_freq_dict = {}
for idx in dp_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(dp_df.index.values.tolist()))
cust_id_result = []
debit_credit_result = []
tx_type_result = []
tx_amt_result = []
exchg_rate_result = []
info_asset_code_result = []
tx_type_x_info_asset_code_result = []
fiscTxId_result = []
txbranch_result = []
cross_bank_result = []
ATM_result = []
freq_result = []

for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    debit_credit_result.append(dp_df.loc[idx]['debit_credit'].mode().iloc[0])
    tx_type_result.append(dp_df.loc[idx]['tx_type'].mode().iloc[0])
    exchg_rate_result.append(dp_df.loc[idx]['exchg_rate'].mode().iloc[0])
    info_asset_code_result.append(dp_df.loc[idx]['info_asset_code'].mode().iloc[0])
    fiscTxId_result.append(dp_df.loc[idx]['fiscTxId'].mode(dropna=False).iloc[0])
    txbranch_result.append(dp_df.loc[idx]['txbranch'].mode(dropna=False).iloc[0])
    cross_bank_result.append(dp_df.loc[idx]['cross_bank'].mode().iloc[0])
    ATM_result.append(dp_df.loc[idx]['ATM'].mode().iloc[0])
    tx_amt_result.append(dp_df.loc[idx]['tx_amt'].mean())
    tx_type_x_info_asset_code_result.append({True:1,False:0}[(dp_df.loc[idx]['tx_type']*dp_df.loc[idx]['info_asset_code']).mode().iloc[0]==12])
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    debit_credit_result.append(dp_df.loc[idx]['debit_credit'])
    tx_type_result.append(dp_df.loc[idx]['tx_type'])
    exchg_rate_result.append(dp_df.loc[idx]['exchg_rate'])
    info_asset_code_result.append(dp_df.loc[idx]['info_asset_code'])
    fiscTxId_result.append(dp_df.loc[idx]['fiscTxId'])
    txbranch_result.append(dp_df.loc[idx]['txbranch'])
    cross_bank_result.append(dp_df.loc[idx]['cross_bank'])
    ATM_result.append(dp_df.loc[idx]['ATM'])
    tx_amt_result.append(dp_df.loc[idx]['tx_amt'].mean())
    tx_type_x_info_asset_code_result.append({True:1,False:0}[(dp_df.loc[idx]['tx_type']*dp_df.loc[idx]['info_asset_code'])==12])
    freq_result.append(idx_freq_dict[idx])

  
data = {'cust_id':cust_id_result,'debit_credit':debit_credit_result,'tx_type':tx_type_result,'exchg_rate':exchg_rate_result, 'info_asset_code':info_asset_code_result, \
        'fiscTxId':fiscTxId_result, 'txbranch':txbranch_result, 'cross_bank':cross_bank_result, 'ATM':ATM_result, 'tx_amt':tx_amt_result, \
        'tx_type_x_info_asset_code_result':tx_type_x_info_asset_code_result,'trans_freq':freq_result}
dp_df = pd.DataFrame(data)
dp_df

In [7]:
#data = {'cust_id':cust_id_result,'debit_credit':debit_credit_result,'tx_type':tx_type_result,'exchg_rate':exchg_rate_result, 'info_asset_code':info_asset_code_result, \
#        'fiscTxId':fiscTxId_result, 'txbranch':txbranch_result, 'cross_bank':cross_bank_result, 'ATM':ATM_result, 'tx_amt':tx_amt_result, \
#        'tx_type_x_info_asset_code_result':tx_type_x_info_asset_code_result,'trans_freq':freq_result}
#dp_df = pd.DataFrame(data)
#dp_df.to_csv('/content/drive/MyDrive/訓練資料集_first/dp_df.csv')

dp_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/dp_df.csv')
dp_df['cust_id']

0       0172056578071e83399216fcd640bdc4de4583149d0fd9...
1       0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...
2       01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...
3       01c705b457297805c1c08137cb3adb164b8f393c265db2...
4       022bec0a12b56285bf12c49ba1512c0acdbf4176a30d96...
                              ...
6191    ffae7fef923c78298cd647a3d573e48cc1404b07ac794a...
6192    ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b...
6193    ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...
6194    ffeb846f2294ec4397f800736dc1e14eb754da5425398d...
6195    fff94defcc33daab190e702926d583f6d805294354addb...
Name: cust_id, Length: 6196, dtype: object

In [8]:
custinfo_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_custinfo_full_hashed.csv', index_col='cust_id')
temp = pd.merge(custinfo_df, ccba_df, left_index=True, right_index=True)
temp = pd.merge(temp, cdtx_df.set_index('cust_id'), left_index=True, right_index=True)
temp = pd.merge(temp, remit1_df.set_index('cust_id'), left_index=True, right_index=True)
temp = pd.merge(temp, dp_df.set_index('cust_id'), left_index=True, right_index=True)
temp

,alert_key,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,...,tx_type,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq
cust_id,,,,,,,,,,,,,,,,,,,,,
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,240088,3,15.0,2126903.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,292345,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,294181,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,294760,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,218725,3,5.0,1817475.0,2,1755.333333,20238.0,2322.000000,0.0,0.0,...,2,1.0,20,NaN,NaN,0,1,4.835865e+04,0,1398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1fcdf671b4433218f6ad,349843,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,...,2,1.0,20,NaN,NaN,0,1,3.213978e+04,0,744
ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1fcdf671b4433218f6ad,351073,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,...,2,1.0,20,NaN,NaN,0,1,3.213978e+04,0,744
ff6c1217b5e039fda46bf4dfba2d54291154a1db54c67747e479065a8e7cd859,316858,1,12.0,106840.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229
ff6c1217b5e039fda46bf4dfba2d54291154a1db54c67747e479065a8e7cd859,323174,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229
ff6c1217b5e039fda46bf4dfba2d54291154a1db54c67747e479065a8e7cd859,324295,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,...,2,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229

In [9]:
train_x_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/train_x_alert_date.csv')
train_x_df
temp = pd.merge(temp.set_index('alert_key'), train_x_df.set_index('alert_key'), left_index=True, right_index=True)
temp

,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,inamt,...,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date
alert_key,,,,,,,,,,,,,,,,,,,,,
240088,3,15.0,2126903.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69,153
292345,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69,258
294181,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69,260
294760,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,1.0,13,NaN,NaN,0,1,2.340845e+05,0,69,263
218725,3,5.0,1817475.0,2,1755.333333,20238.0,2322.000000,0.0,0.0,0.000000,...,1.0,20,NaN,NaN,0,1,4.835865e+04,0,1398,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349843,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,2087.538462,...,1.0,20,NaN,NaN,0,1,3.213978e+04,0,744,361
351073,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,2087.538462,...,1.0,20,NaN,NaN,0,1,3.213978e+04,0,744,363
316858,1,12.0,106840.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229,298
323174,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229,315
324295,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,1.0,13,NaN,NaN,0,1,1.549045e+06,0,229,316

In [ ]:
temp.set_index('alert_key')

KeyError: ignored

In [10]:
train_y_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/train_y_answer.csv')
temp = pd.merge(temp, train_y_df.set_index('alert_key'), left_index=True, right_index=True)
temp

,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,inamt,...,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date,sar_flag
alert_key,,,,,,,,,,,,,,,,,,,,,
240088,3,15.0,2126903.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,13,NaN,NaN,0,1,2.340845e+05,0,69,153,0
292345,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,13,NaN,NaN,0,1,2.340845e+05,0,69,258,0
294181,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,13,NaN,NaN,0,1,2.340845e+05,0,69,260,0
294760,3,15.0,980597.0,4,31074.230769,314421.0,40891.615385,0.0,0.0,2384.769231,...,13,NaN,NaN,0,1,2.340845e+05,0,69,263,0
218725,3,5.0,1817475.0,2,1755.333333,20238.0,2322.000000,0.0,0.0,0.000000,...,20,NaN,NaN,0,1,4.835865e+04,0,1398,106,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349843,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,2087.538462,...,20,NaN,NaN,0,1,3.213978e+04,0,744,361,0
351073,2,17.0,82960.0,3,10468.923077,207836.0,14448.153846,0.0,0.0,2087.538462,...,20,NaN,NaN,0,1,3.213978e+04,0,744,363,0
316858,1,12.0,106840.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,13,NaN,NaN,0,1,1.549045e+06,0,229,298,0
323174,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,13,NaN,NaN,0,1,1.549045e+06,0,229,315,0
324295,1,12.0,1107479.0,3,2724.818182,30440.0,2724.818182,0.0,0.0,0.000000,...,13,NaN,NaN,0,1,1.549045e+06,0,229,316,0

In [ ]:
public_train_x_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_x_alert_date.csv')