<a href="https://colab.research.google.com/github/Wesley1110/Data-Science/blob/main/yushan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
ccba_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_ccba_full_hashed.csv')
ccba_df = ccba_df.groupby('cust_id').mean().drop(columns=['byymm'])
ccba_df

,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
cust_id,,,,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,6298.153846,1.346140e+05,24214.846154,0.0,0.0,3148.692308,6728.076923,0.0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,363428.230769,3.127805e+05,69357.461538,0.0,0.0,24451.923077,376716.000000,0.0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,31074.230769,3.144210e+05,40891.615385,0.0,0.0,2384.769231,30166.769231,0.0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,88294.153846,2.028310e+05,196138.000000,0.0,0.0,909.769231,87726.538462,0.0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,1755.333333,2.023800e+04,2322.000000,0.0,0.0,0.000000,1755.333333,0.0
...,...,...,...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,154.615385,2.086830e+05,114.461538,0.0,0.0,0.000000,114.461538,0.0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,4187.846154,2.087650e+05,9552.615385,0.0,0.0,1792.230769,4068.538462,0.0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,4882.769231,2.032310e+05,6488.000000,0.0,0.0,1863.846154,4994.769231,0.0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,155063.846154,1.043907e+06,356287.769231,0.0,0.0,56455.461538,152153.615385,0.0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,9352.384615,4.609263e+05,15148.076923,0.0,0.0,487.769231,9748.923077,0.0

In [ ]:
cdtx_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_cdtx0001_full_hashed.csv', index_col='cust_id')
cdtx_df.country
idx_freq_dict = {}
for idx in cdtx_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(cdtx_df.index.values.tolist()))
cust_id_result = []
country_result = []
cur_type_result = []
amt_result = []
freq_result = []
for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    country_result.append(cdtx_df.loc[idx]['country'].mode().iloc[0])
    cur_type_result.append(cdtx_df.loc[idx]['cur_type'].mode().iloc[0])
    amt_result.append(cdtx_df.loc[idx]['amt'].mean())
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    country_result.append(cdtx_df.loc[idx]['country'])
    cur_type_result.append(cdtx_df.loc[idx]['cur_type'])
    amt_result.append(cdtx_df.loc[idx]['amt'].mean())
    freq_result.append(idx_freq_dict[idx])

data = {'cust_id':cust_id_result,'country':country_result,'cur_type':cur_type_result,'amt':amt_result,'con_freq':freq_result}
cdtx_df = pd.DataFrame(data)
cdtx_df
#cdtx_df.loc['4220624de6d38bd4b41d1c32932e03f3c0e85b1b08b7e399df191feb73d3a4c1']
#5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1
#print(cdtx_df.loc['4220624de6d38bd4b41d1c32932e03f3c0e85b1b08b7e399df191feb73d3a4c1']['country'].mode())
#print(len(cdtx_df.loc['5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1']))
#idx_freq_dict['5b833abe374782cf4a49db8e89918161c6f9c4e4ec7618752aeb592211dec4e1']

,cust_id,country,cur_type,amt,con_freq
0,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,130.0,47.0,1243.191257,183
1,01c705b457297805c1c08137cb3adb164b8f393c265db2...,130.0,47.0,4139.164384,146
2,02e2cb9bb3a904b4e44b7e40f54d536ca5941db440ba00...,130.0,47.0,18112.185185,27
3,035e2ebcd5c23f4dd0f1fc81a1fca8afd3121f7431bb58...,130.0,47.0,15143.220000,50
4,03d4cbfcb065501bebb2b75ea4df2b779df0192a183af3...,130.0,47.0,4858.803922,51
...,...,...,...,...,...
3940,ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f11...,130.0,47.0,502.500000,4
3941,ffae7fef923c78298cd647a3d573e48cc1404b07ac794a...,130.0,47.0,1698.600000,35
3942,ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b...,130.0,47.0,478.782609,138
3943,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,130.0,47.0,3734.067568,518
3944,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,130.0,47.0,2642.218182,55

In [ ]:
remit1_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_remit1_full_hashed.csv', index_col='cust_id')
remit1_df.drop(columns=['trans_date'])

idx_freq_dict = {}
for idx in remit1_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(remit1_df.index.values.tolist()))
cust_id_result = []
trans_no_result = []
trade_amount_usd_result = []
freq_result = []
for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    trans_no_result.append(remit1_df.loc[idx]['trans_no'].mode().iloc[0])
    trade_amount_usd_result.append(remit1_df.loc[idx]['trade_amount_usd'].mean())
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    trans_no_result.append(remit1_df.loc[idx]['trans_no'])
    trade_amount_usd_result.append(remit1_df.loc[idx]['trade_amount_usd'].mean())
    freq_result.append(idx_freq_dict[idx])

data = {'cust_id':cust_id_result,'trans_no':trans_no_result,'trade_amount_usd':trade_amount_usd_result,'remit_freq':freq_result}
remit1_df = pd.DataFrame(data)
remit1_df

,cust_id,trans_no,trade_amount_usd,remit_freq
0,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,0.0,73370.166667,6
1,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,3.0,8356.000000,1
2,0388c9d9ef39aad168e450e671382cfa405d61efd39517...,0.0,23693.416667,12
3,03d4cbfcb065501bebb2b75ea4df2b779df0192a183af3...,4.0,8682.772727,22
4,0658224f10ea4c5c8b4252f1bef32ee1071dc504bfc670...,0.0,115243.300000,10
...,...,...,...,...
1139,fee9c88690656f65f8829b3d3e6082b3b7b58ecbb56adb...,0.0,811.000000,3
1140,ff38c93051cf7c0175c67f5171271d4b8c8bb40533df65...,4.0,5721.666667,3
1141,ff4fa0c71df2a8a9074c1b8ad537e0f15c93ad16e1165e...,4.0,146637.000000,1
1142,ff6b0040005b54f4b7955942e74a0a9ec466abb2a017a5...,0.0,53062.704545,44
1143,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,0.0,77311.142857,7

In [ ]:
dp_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_dp_full_hashed.csv', index_col='cust_id')

idx_freq_dict = {}
for idx in dp_df.index.values.tolist():
  if idx not in idx_freq_dict:
    idx_freq_dict[idx] = 1
  else:
    idx_freq_dict[idx] += 1
idx_list = list(dict.fromkeys(dp_df.index.values.tolist()))
cust_id_result = []
debit_credit_result = []
tx_type_result = []
tx_amt_result = []
exchg_rate_result = []
info_asset_code_result = []
tx_type_x_info_asset_code_result = []
fiscTxId_result = []
txbranch_result = []
cross_bank_result = []
ATM_result = []
freq_result = []

for idx in idx_list:
  if idx_freq_dict[idx] > 1:
    cust_id_result.append(idx)
    debit_credit_result.append(dp_df.loc[idx]['debit_credit'].mode().iloc[0])
    tx_type_result.append(dp_df.loc[idx]['tx_type'].mode().iloc[0])
    exchg_rate_result.append(dp_df.loc[idx]['exchg_rate'].mode().iloc[0])
    info_asset_code_result.append(dp_df.loc[idx]['info_asset_code'].mode().iloc[0])
    fiscTxId_result.append(dp_df.loc[idx]['fiscTxId'].mode(dropna=False).iloc[0])
    txbranch_result.append(dp_df.loc[idx]['txbranch'].mode(dropna=False).iloc[0])
    cross_bank_result.append(dp_df.loc[idx]['cross_bank'].mode().iloc[0])
    ATM_result.append(dp_df.loc[idx]['ATM'].mode().iloc[0])
    tx_amt_result.append(dp_df.loc[idx]['tx_amt'].mean())
    tx_type_x_info_asset_code_result.append({True:1,False:0}[(dp_df.loc[idx]['tx_type']*dp_df.loc[idx]['info_asset_code']).mode().iloc[0]==12])
    freq_result.append(idx_freq_dict[idx])
  else:
    cust_id_result.append(idx)
    debit_credit_result.append(dp_df.loc[idx]['debit_credit'])
    tx_type_result.append(dp_df.loc[idx]['tx_type'])
    exchg_rate_result.append(dp_df.loc[idx]['exchg_rate'])
    info_asset_code_result.append(dp_df.loc[idx]['info_asset_code'])
    fiscTxId_result.append(dp_df.loc[idx]['fiscTxId'])
    txbranch_result.append(dp_df.loc[idx]['txbranch'])
    cross_bank_result.append(dp_df.loc[idx]['cross_bank'])
    ATM_result.append(dp_df.loc[idx]['ATM'])
    tx_amt_result.append(dp_df.loc[idx]['tx_amt'].mean())
    tx_type_x_info_asset_code_result.append({True:1,False:0}[(dp_df.loc[idx]['tx_type']*dp_df.loc[idx]['info_asset_code'])==12])
    freq_result.append(idx_freq_dict[idx])

  
data = {'cust_id':cust_id_result,'debit_credit':debit_credit_result,'tx_type':tx_type_result,'exchg_rate':exchg_rate_result, 'info_asset_code':info_asset_code_result, \
        'fiscTxId':fiscTxId_result, 'txbranch':txbranch_result, 'cross_bank':cross_bank_result, 'ATM':ATM_result, 'tx_amt':tx_amt_result, \
        'tx_type_x_info_asset_code_result':tx_type_x_info_asset_code_result,'trans_freq':freq_result}
dp_df = pd.DataFrame(data)
dp_df

KeyboardInterrupt: ignored

In [ ]:
#data = {'cust_id':cust_id_result,'debit_credit':debit_credit_result,'tx_type':tx_type_result,'exchg_rate':exchg_rate_result, 'info_asset_code':info_asset_code_result, \
#        'fiscTxId':fiscTxId_result, 'txbranch':txbranch_result, 'cross_bank':cross_bank_result, 'ATM':ATM_result, 'tx_amt':tx_amt_result, \
#        'tx_type_x_info_asset_code_result':tx_type_x_info_asset_code_result,'trans_freq':freq_result}
#dp_df = pd.DataFrame(data)
#dp_df.to_csv('/content/drive/MyDrive/訓練資料集_first/dp_df.csv')

dp_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/dp_df.csv')
dp_df = dp_df.drop(columns = ['Unnamed: 0'])
dp_df

,cust_id,debit_credit,tx_type,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq
0,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,2,1.0,16,NaN,NaN,0,0,1.134792e+06,0,154
1,0174dff6a8a2038f9966d61d8450e19e3bd751e4051c2a...,CR,1,1.0,13,20.0,107.0,0,1,3.066773e+04,0,45
2,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,DB,2,1.0,13,NaN,NaN,0,1,1.649352e+04,0,60
3,01c705b457297805c1c08137cb3adb164b8f393c265db2...,CR,2,1.0,13,4.0,313.0,1,1,8.829265e+03,0,135100
4,022bec0a12b56285bf12c49ba1512c0acdbf4176a30d96...,CR,2,1.0,13,NaN,162.0,0,1,1.811145e+04,0,86
...,...,...,...,...,...,...,...,...,...,...,...,...
6191,ffae7fef923c78298cd647a3d573e48cc1404b07ac794a...,DB,2,1.0,13,NaN,NaN,0,1,2.740889e+02,0,225
6192,ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b...,DB,2,1.0,16,NaN,NaN,0,0,3.968118e+04,0,61
6193,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,DB,2,1.0,16,NaN,NaN,0,1,6.653681e+04,0,239
6194,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,DB,2,1.0,16,NaN,NaN,0,0,4.250235e+04,0,51
6195,fff94defcc33daab190e702926d583f6d805294354addb...,DB,2,1.0,13,4.0,313.0,1,1,1.337265e+04,0,900

In [ ]:
custinfo_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/public_train_x_custinfo_full_hashed.csv', index_col='alert_key')
temp = pd.merge(custinfo_df, ccba_df, left_on=['cust_id'], right_index=True, how='outer')
temp = pd.merge(temp, cdtx_df.set_index('cust_id'), left_on=['cust_id'], right_index=True, how='outer')
temp = pd.merge(temp, remit1_df.set_index('cust_id'), left_on=['cust_id'], right_index=True, how='outer')
temp = pd.merge(temp, dp_df.set_index('cust_id'), left_on=['cust_id'],right_index=True, how='outer')
temp

,cust_id,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,...,tx_type,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq
alert_key,,,,,,,,,,,,,,,,,,,,,
352249,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,20.0,NaN,NaN,0.0,1.0,120222.842854,0.0,4009.0
356565,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,20.0,NaN,NaN,0.0,1.0,120222.842854,0.0,4009.0
357209,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,20.0,NaN,NaN,0.0,1.0,120222.842854,0.0,4009.0
358001,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,20.0,NaN,NaN,0.0,1.0,120222.842854,0.0,4009.0
359220,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,20.0,NaN,NaN,0.0,1.0,120222.842854,0.0,4009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351904,2a6c462095ed3a74cb1d5828ca65315cb5ef30a8b1ea54...,1,12.0,1454.0,5,11421.846154,519218.0,13742.307692,0.0,0.0,...,2.0,1.0,13.0,NaN,NaN,0.0,1.0,289612.544776,0.0,134.0
351926,830b22ee65eef58b2d51d20143f7aeb1ef9bd00b8f0435...,1,9.0,87564.0,4,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,13.0,3.0,310.0,1.0,1.0,55215.906874,0.0,451.0
351929,f0d7fb934f97688f16691d9aeb6db22db08e8f8a07e122...,1,4.0,1199.0,3,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,13.0,4.0,0.0,1.0,1.0,11053.315068,0.0,73.0
352103,c71eff54ff8d901590eef33bc16dfddd93a2051d7acfe4...,1,19.0,441617.0,4,28860.615385,150623.0,39947.923077,0.0,0.0,...,1.0,1.0,13.0,20.0,50.0,0.0,1.0,1560.619048,0.0,21.0
352111,67a8baafafecb5408944a7d089cda0168967144c1bd41f...,1,17.0,829412.0,6,54160.538462,523405.0,55081.230769,0.0,0.0,...,2.0,1.0,16.0,NaN,NaN,0.0,0.0,9001.053659,0.0,205.0

In [ ]:
train_x_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/train_x_alert_date.csv')
train_x_df
temp = pd.merge(temp, train_x_df.set_index('alert_key'), left_index=True, right_index=True, how='outer')
temp

,cust_id,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,...,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date
alert_key,,,,,,,,,,,,,,,,,,,,,
171142,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,12231.153846,1.507440e+05,7.753392e+04,0.0,0.0,...,1.0,1.0,NaN,NaN,0.0,1.0,37032.431005,0.0,25183.0,0.0
171152,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6,8506.923077,3.247830e+05,5.306685e+04,0.0,0.0,...,1.0,16.0,NaN,NaN,0.0,0.0,134861.175853,0.0,381.0,0.0
171177,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4,NaN,NaN,NaN,NaN,NaN,...,1.0,13.0,21.0,29.0,0.0,1.0,10357.620253,0.0,79.0,0.0
171178,1a3efa69705f611c7ef2384a715c8142e2ee801cfec9df...,3,9.0,3634343.0,6,887572.076923,1.542927e+07,6.466758e+06,0.0,0.0,...,1.0,13.0,NaN,NaN,0.0,0.0,9569.255605,0.0,223.0,0.0
171180,67f8cbb64dd3d447e992b1b299e0ceed3372188e47c88e...,1,17.0,4076287.0,4,4665.538462,2.561340e+05,6.989000e+03,0.0,0.0,...,1.0,20.0,NaN,NaN,0.0,1.0,499920.581712,0.0,514.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365001,18ee644a371548e9780d701aaa7e0c8c42a7794cdee755...,1,17.0,135072.0,3,7204.846154,3.133400e+05,9.171969e+04,0.0,0.0,...,1.0,1.0,NaN,NaN,0.0,1.0,2808.148561,0.0,2780.0,NaN
365004,7f69fa9eab8f397d367e2bb61ee1fa008999a0aab91e06...,3,12.0,2285386.0,3,75015.230769,1.195052e+05,6.361700e+04,0.0,0.0,...,1.0,13.0,4.0,NaN,1.0,1.0,347623.589105,0.0,3451.0,NaN
365008,12c9e6d35500d2a96fc2b22a9da8e3deb6048de515a16e...,3,19.0,1230244.0,2,35.454545,1.201060e+05,3.545455e+01,0.0,0.0,...,1.0,13.0,4.0,313.0,1.0,1.0,177511.521117,0.0,12028.0,NaN
365009,d24d46c19002ab1f9a02801af5e4be6a154b3c5adc0417...,1,17.0,162418.0,2,256500.200000,3.132200e+04,5.304000e+03,0.0,0.0,...,1.0,16.0,NaN,NaN,0.0,0.0,43753.333333,0.0,252.0,NaN
365073,7224e3a067b5e90c9b2a5bdbcfe81884505ab44f0566ae...,3,19.0,83133.0,3,NaN,NaN,NaN,NaN,NaN,...,1.0,13.0,4.0,313.0,1.0,1.0,347589.301594,0.0,4453.0,NaN

In [ ]:
train_y_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/train_y_answer.csv')
temp = pd.merge(temp, train_y_df.set_index('alert_key'), left_index=True, right_index=True, how='outer')
temp

,cust_id,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,...,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date,sar_flag
alert_key,,,,,,,,,,,,,,,,,,,,,
171142,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,12231.153846,1.507440e+05,7.753392e+04,0.0,0.0,...,1.0,NaN,NaN,0.0,1.0,37032.431005,0.0,25183.0,0.0,0.0
171152,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6,8506.923077,3.247830e+05,5.306685e+04,0.0,0.0,...,16.0,NaN,NaN,0.0,0.0,134861.175853,0.0,381.0,0.0,0.0
171177,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4,NaN,NaN,NaN,NaN,NaN,...,13.0,21.0,29.0,0.0,1.0,10357.620253,0.0,79.0,0.0,0.0
171178,1a3efa69705f611c7ef2384a715c8142e2ee801cfec9df...,3,9.0,3634343.0,6,887572.076923,1.542927e+07,6.466758e+06,0.0,0.0,...,13.0,NaN,NaN,0.0,0.0,9569.255605,0.0,223.0,0.0,0.0
171180,67f8cbb64dd3d447e992b1b299e0ceed3372188e47c88e...,1,17.0,4076287.0,4,4665.538462,2.561340e+05,6.989000e+03,0.0,0.0,...,20.0,NaN,NaN,0.0,1.0,499920.581712,0.0,514.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365001,18ee644a371548e9780d701aaa7e0c8c42a7794cdee755...,1,17.0,135072.0,3,7204.846154,3.133400e+05,9.171969e+04,0.0,0.0,...,1.0,NaN,NaN,0.0,1.0,2808.148561,0.0,2780.0,NaN,NaN
365004,7f69fa9eab8f397d367e2bb61ee1fa008999a0aab91e06...,3,12.0,2285386.0,3,75015.230769,1.195052e+05,6.361700e+04,0.0,0.0,...,13.0,4.0,NaN,1.0,1.0,347623.589105,0.0,3451.0,NaN,NaN
365008,12c9e6d35500d2a96fc2b22a9da8e3deb6048de515a16e...,3,19.0,1230244.0,2,35.454545,1.201060e+05,3.545455e+01,0.0,0.0,...,13.0,4.0,313.0,1.0,1.0,177511.521117,0.0,12028.0,NaN,NaN
365009,d24d46c19002ab1f9a02801af5e4be6a154b3c5adc0417...,1,17.0,162418.0,2,256500.200000,3.132200e+04,5.304000e+03,0.0,0.0,...,16.0,NaN,NaN,0.0,0.0,43753.333333,0.0,252.0,NaN,NaN
365073,7224e3a067b5e90c9b2a5bdbcfe81884505ab44f0566ae...,3,19.0,83133.0,3,NaN,NaN,NaN,NaN,NaN,...,13.0,4.0,313.0,1.0,1.0,347589.301594,0.0,4453.0,NaN,NaN

In [ ]:
temp['fiscTxId'] = temp['fiscTxId'].fillna(29)
temp['txbranch'] = temp['txbranch'].fillna(371)
temp['debit_credit'] = temp['debit_credit'].replace(['CR'], 0)
temp['debit_credit'] = temp['debit_credit'].replace(['DB'], 1)
temp

,cust_id,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,csamt,...,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date,sar_flag
alert_key,,,,,,,,,,,,,,,,,,,,,
171142,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,12231.153846,1.507440e+05,7.753392e+04,0.0,0.0,...,1.0,29.0,371.0,0.0,1.0,37032.431005,0.0,25183.0,0.0,0.0
171152,7e42b5dca9b28ee8e5545beb834361e90e6197d176b389...,3,13.0,599497.0,6,8506.923077,3.247830e+05,5.306685e+04,0.0,0.0,...,16.0,29.0,371.0,0.0,0.0,134861.175853,0.0,381.0,0.0,0.0
171177,a6cdf6302aead77112013168c6d546d2df3bcb551956d2...,1,19.0,51160.0,4,NaN,NaN,NaN,NaN,NaN,...,13.0,21.0,29.0,0.0,1.0,10357.620253,0.0,79.0,0.0,0.0
171178,1a3efa69705f611c7ef2384a715c8142e2ee801cfec9df...,3,9.0,3634343.0,6,887572.076923,1.542927e+07,6.466758e+06,0.0,0.0,...,13.0,29.0,371.0,0.0,0.0,9569.255605,0.0,223.0,0.0,0.0
171180,67f8cbb64dd3d447e992b1b299e0ceed3372188e47c88e...,1,17.0,4076287.0,4,4665.538462,2.561340e+05,6.989000e+03,0.0,0.0,...,20.0,29.0,371.0,0.0,1.0,499920.581712,0.0,514.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365001,18ee644a371548e9780d701aaa7e0c8c42a7794cdee755...,1,17.0,135072.0,3,7204.846154,3.133400e+05,9.171969e+04,0.0,0.0,...,1.0,29.0,371.0,0.0,1.0,2808.148561,0.0,2780.0,NaN,NaN
365004,7f69fa9eab8f397d367e2bb61ee1fa008999a0aab91e06...,3,12.0,2285386.0,3,75015.230769,1.195052e+05,6.361700e+04,0.0,0.0,...,13.0,4.0,371.0,1.0,1.0,347623.589105,0.0,3451.0,NaN,NaN
365008,12c9e6d35500d2a96fc2b22a9da8e3deb6048de515a16e...,3,19.0,1230244.0,2,35.454545,1.201060e+05,3.545455e+01,0.0,0.0,...,13.0,4.0,313.0,1.0,1.0,177511.521117,0.0,12028.0,NaN,NaN
365009,d24d46c19002ab1f9a02801af5e4be6a154b3c5adc0417...,1,17.0,162418.0,2,256500.200000,3.132200e+04,5.304000e+03,0.0,0.0,...,16.0,29.0,371.0,0.0,0.0,43753.333333,0.0,252.0,NaN,NaN
365073,7224e3a067b5e90c9b2a5bdbcfe81884505ab44f0566ae...,3,19.0,83133.0,3,NaN,NaN,NaN,NaN,NaN,...,13.0,4.0,313.0,1.0,1.0,347589.301594,0.0,4453.0,NaN,NaN

In [ ]:
temp.to_csv('/content/drive/MyDrive/訓練資料集_first/final_input_df.csv')

In [ ]:
input_df = pd.read_csv('/content/drive/MyDrive/訓練資料集_first/final_input_df.csv')

In [ ]:
input_df.loc[input_df['date'].isna() == 1]

,alert_key,cust_id,risk_rank,occupation_code,total_asset,AGE,lupay,cycam,usgam,clamt,...,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_amt,tx_type_x_info_asset_code_result,trans_freq,date,sar_flag
23906,352249,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7,NaN,NaN,NaN,NaN,...,20.0,29.0,371.0,0.0,1.0,120222.842854,0.0,4009.0,NaN,NaN
23907,352253,b212d14cb35676926682b2cf849e295d948888f556c07e...,1,2.0,98177.0,2,1359.230769,174655.000000,1084.153846,0.000000,...,20.0,29.0,371.0,0.0,1.0,433316.451282,0.0,390.0,NaN,NaN
23908,352254,e5b0002791c7852644a2730abeaa893cdf14a072ef7812...,1,19.0,2052922.0,7,NaN,NaN,NaN,NaN,...,16.0,29.0,371.0,0.0,0.0,100231.381818,0.0,55.0,NaN,NaN
23909,352280,74214c478dc6519fbefe4bc31693865bdcd698ab974b64...,3,15.0,201906.0,5,6439.384615,206512.000000,198856.076923,11119.923077,...,20.0,29.0,371.0,0.0,1.0,25130.117347,0.0,980.0,NaN,NaN
23910,352282,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,1,12.0,7450.0,5,NaN,NaN,NaN,NaN,...,6.0,29.0,371.0,0.0,0.0,5649.714286,1.0,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25746,365001,18ee644a371548e9780d701aaa7e0c8c42a7794cdee755...,1,17.0,135072.0,3,7204.846154,313340.000000,91719.692308,0.000000,...,1.0,29.0,371.0,0.0,1.0,2808.148561,0.0,2780.0,NaN,NaN
25747,365004,7f69fa9eab8f397d367e2bb61ee1fa008999a0aab91e06...,3,12.0,2285386.0,3,75015.230769,119505.153846,63617.000000,0.000000,...,13.0,4.0,371.0,1.0,1.0,347623.589105,0.0,3451.0,NaN,NaN
25748,365008,12c9e6d35500d2a96fc2b22a9da8e3deb6048de515a16e...,3,19.0,1230244.0,2,35.454545,120106.000000,35.454545,0.000000,...,13.0,4.0,313.0,1.0,1.0,177511.521117,0.0,12028.0,NaN,NaN
25749,365009,d24d46c19002ab1f9a02801af5e4be6a154b3c5adc0417...,1,17.0,162418.0,2,256500.200000,31322.000000,5304.000000,0.000000,...,16.0,29.0,371.0,0.0,0.0,43753.333333,0.0,252.0,NaN,NaN
25750,365073,7224e3a067b5e90c9b2a5bdbcfe81884505ab44f0566ae...,3,19.0,83133.0,3,NaN,NaN,NaN,NaN,...,13.0,4.0,313.0,1.0,1.0,347589.301594,0.0,4453.0,NaN,NaN